@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

.text-secondary {
  color: $secondary-color;
}

.canvas-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

body {
  text-align: center;
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1, 5;
}
.first-h1-word {
  z-index: 3;
}
// Headings
.lg-heading {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 5rem;
    animation: fadeIn 1s;
  }
  &.sm-heading {
    opacity: 0;
    animation: fadeIn 1s, slide 1s;
    //animation-delay: 0.25s;
    animation-fill-mode: forwards;
    position: relative;
    left: -1000px;

    @keyframes slide {
      0% {
        left: -1000px;
      }
      100% {
        left: 0px;
      }
    }
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.lg-heading.text {
  background: rgba(lighten($primary-color, 2), 0.5);
  padding-left: 20px;
  padding-right: 20px;
}

.first-word {
  @include fadeIn(0.5s);
}
.second-word {
  @include fadeIn(1.25s);
  color: $secondary-color;
}
.third-word {
  @include fadeIn(2s);
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.blur {
  filter: blur(7px);
  @include easeOut();
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    @include fadeIn(2.5s);
    margin-top: 1rem;
    animation-fill-mode: forwards;
    padding-bottom: 20px;

    a {
      padding: 0.4rem;
      @include easeOut();

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 15vh;
    }
  }
}

.container {
  @include fadeIn(2.75s);
  display: flex;
  grid-template-columns: 30% 70%;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(lighten($primary-color, 2), 0.5);
  a,
  p {
    @include easeOut;
    &:hover {
      opacity: 0.5;
      // border-color: $secondary-color;
      @include easeOut;
    }
  }
  .about-link {
    &:hover {
      opacity: 0.5 !important;
      //border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.about-me {
  flex: 1;
  padding-right: 20px;
  //width: 33%;
  text-align: left;
  justify-content: left;

  //padding: 0.2rem 1rem;
  //background: rgba(lighten($primary-color, 2), 0.5);
  &-header {
    font-size: 40px;
    background: rgba(lighten($primary-color, 2), 0.5);
    padding-right: 15px;
    padding-left: 15px;
    //padding: 0.2rem 1rem;
  }

  &-text {
    background: rgba(lighten($primary-color, 2), 0.5);
    padding-right: 15px;
    padding-left: 15px;
    padding: 15px;
    font-size: 20px;
  }
}

.website-image {
  width: 100%;
  height: auto;
}

.my-websites {
  flex: 2;
  //padding-right: 20px;
  //width: 66%;
  text-align: left;
  justify-content: left;

  .projects {
    display: flex;
    padding-top: 15px;
    //flex-direction: row;

    .item {
      border: 2px solid white;
      background: rgba(lighten($primary-color, 2), 0.5);
      flex: 2;
      display: grid;
      grid-template-columns: 30% 70%;
      padding-bottom: 10px;

      .website-buttons {
        text-align: center;
      }
      .website-description {
        margin-top: 15px;
      }

      .website-description > h3 {
        //margin: 0;
        text-decoration: underline;
        padding-bottom: 15px;
        padding: 15px;
        font-weight: 400;
      }
      .website-description > a {
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: initial;
        text-decoration: underline;
        padding-bottom: 15px;
        padding-top: 15px;
        font-weight: 400;
        font-size: 20px;
        position: relative;
        border: 2px solid white;
        width: 100%;
        text-align: center;
        &:hover {
          opacity: 0.5;
          // border-color: $secondary-color;
          @include easeOut;
        }
      }
    }
    .website-description > a,
    h6 {
      //margin: 0;

      margin-top: 15px;
      margin-bottom: 15px;
      padding: 15px;
      background: rgba(lighten($primary-color, 2), 0.5);
      @include easeOut;
      font-size: 15px;

      //padding: 5px;

      .website-description > h6 {
        font-size: 20px;
      }
    }
    .website-description > ul {
      border-top: 2px solid $secondary-color;
      border-bottom: 2px solid $secondary-color;
      padding-top: 10px;
      padding-bottom: 10px;
      background: rgba(lighten($primary-color, 2), 0.5);
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  height: 200px;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.projects {
  display: grid;

  grid-gap: 0.7rem;

  img {
    @include easeOut;
    width: 100%;
    border: 3px#fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.btn {
  transition: all 0.5s ease-out;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;

    color: set-text-color($primary-color);
  }
}

.btn-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  :nth-child(2) {
    flex: 1;
  }
}

.btn-dark {
  @extend.btn;
  background: #105b63;
  color: #fff;
}

.btn-light {
  @extend.btn;
  background: lighten($primary-color, $amount: 0);
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.view-more {
  position: relative;
  width: 100%;
  text-align: right !important;
}
.btn-dark.voew {
  position: relative;
  text-align: right;
  width: 10% !important;
}

@import "mobile";
